@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-link popup" data-url="Student/CreateEdit" data-toggle="modal" data-target="#modal-create-edit-user" id="UserModel">Add New User <i class="fa fa-plus"></i></a>
<partial name="_Modal" />

@section Scripts{
    <script src="~/js/Student.js" asp-append-version="true"></script>
}  